In [32]:
import requests
import json
import pandas as pd

# Load APP_TOKEN vairable from keys file
from secret import APP_TOKEN

# Table of contents
* [Overview](#Overview)
* [Data](#Data)
* [Model](#Model)
* [Results](#Results)
* [Conclusion](#Conclusion)

## Overview

The purpose of this project is to create a model to predict the number of crimes that might occur in some chicago neighborhood on any given day. We will be using the Chicago Crimes Dataset, limiting ourselves to the date and community area fields from this set of data.

## Data <a name="Data"></a>

In [33]:
url = "https://data.cityofchicago.org/resource/ijzp-q8t2.json?$select=date,community_area&$where=year==2021&$order=date ASC&$limit=100000"
headers = {'Accept': 'application/json', 'X-App-Token': APP_TOKEN}
resp = requests.get(url,headers=headers)
df = json.loads(resp.text)
df = pd.DataFrame(df)
df

                          date community_area
0      2021-01-01T00:00:00.000             22
1      2021-01-01T00:00:00.000              3
2      2021-01-01T00:00:00.000             48
3      2021-01-01T00:00:00.000             29
4      2021-01-01T00:00:00.000             40
...                        ...            ...
83401  2021-06-12T23:50:00.000             60
83402  2021-06-12T23:50:00.000             43
83403  2021-06-12T23:51:00.000             69
83404  2021-06-12T23:55:00.000             30
83405  2021-06-12T23:55:00.000             70

[83406 rows x 2 columns]

In [34]:
# Trasforming data to the the total number of crimes occured each day per community area

# Make a copy of the queried data
df_new = df
# The exact time of crime occured is not necessary, we only keep date data
df_new['date'] = df_new['date'].str[:10]
# count rows that have the same value, this will give us number of crimes for that community_area for a certain day
df_new = df_new.groupby(df.columns.tolist(), as_index=False).size()
# rename columns
df_new.rename({'size': 'num_crimes'}, axis=1, inplace=True)

# convert to date type
df_new['date'] = pd.to_datetime(df_new['date'])
# separate into year, month, day
df_new['year'] = df_new['date'].dt.year
df_new['month'] = df_new['date'].dt.month
df_new['day_name'] = df_new['date'].dt.day_name()

df_new

            date community_area  num_crimes  year  month  day_name
0     2021-01-01              1          12  2021      1    Friday
1     2021-01-01             10           3  2021      1    Friday
2     2021-01-01             11           1  2021      1    Friday
3     2021-01-01             13           4  2021      1    Friday
4     2021-01-01             14           5  2021      1    Friday
...          ...            ...         ...   ...    ...       ...
11692 2021-06-12             75           4  2021      6  Saturday
11693 2021-06-12             76           3  2021      6  Saturday
11694 2021-06-12             77           6  2021      6  Saturday
11695 2021-06-12              8          29  2021      6  Saturday
11696 2021-06-12              9           1  2021      6  Saturday

[11697 rows x 6 columns]

In [44]:
# total crimes for the entire city per day
df_total_city = df_new
df_total_city = df_total_city.groupby(df_total_city['date'], as_index=False).size()

# rename columns
df_total_city.rename({'size': 'num_crimes'}, axis=1, inplace=True)

# convert to date type
df_total_city['date'] = pd.to_datetime(df_total_city['date'])
# separate into year, month, day
df_total_city['year'] = df_total_city['date'].dt.year
df_total_city['month'] = df_total_city['date'].dt.month
df_total_city['day_name'] = df_total_city['date'].dt.day_name()
df_total_city

          date  num_crimes  year  month   day_name
0   2021-01-01          75  2021      1     Friday
1   2021-01-02          70  2021      1   Saturday
2   2021-01-03          68  2021      1     Sunday
3   2021-01-04          72  2021      1     Monday
4   2021-01-05          72  2021      1    Tuesday
..         ...         ...   ...    ...        ...
158 2021-06-08          71  2021      6    Tuesday
159 2021-06-09          73  2021      6  Wednesday
160 2021-06-10          73  2021      6   Thursday
161 2021-06-11          74  2021      6     Friday
162 2021-06-12          73  2021      6   Saturday

[163 rows x 5 columns]

## Model <a name="Model"></a>


## Results <a name="Results"></a>

## Conclusion <a name="Conclusion"></a>

test