In [12]:
import requests
import json
import pandas as pd

# Load APP_TOKEN vairable from keys file
from secret import APP_TOKEN

# Table of contents
* [Overview](#Overview)
* [Data](#Data)
* [Model](#Model)
* [Results](#Results)
* [Conclusion](#Conclusion)

## Overview

The purpose of this project is to create a model to predict the number of crimes that might occur in some chicago neighborhood on any given day. We will be using the Chicago Crimes Dataset, limiting ourselves to the date and community area fields from this set of data. We'll also be using unemployment data from the Chicago land area to determine if the unemployment rate has any effect on the amount of crime in Chicago.

## Data <a name="Data"></a>

In [13]:
url = "https://data.cityofchicago.org/resource/ijzp-q8t2.json?$select=date,community_area&$where=year==2021&$order=date ASC&$limit=100000"
headers = {'Accept': 'application/json', 'X-App-Token': APP_TOKEN}
resp = requests.get(url,headers=headers)
df = json.loads(resp.text)
df = pd.DataFrame(df)
df

                          date community_area
0      2021-01-01T00:00:00.000             26
1      2021-01-01T00:00:00.000             28
2      2021-01-01T00:00:00.000             53
3      2021-01-01T00:00:00.000             53
4      2021-01-01T00:00:00.000             27
...                        ...            ...
83401  2021-06-12T23:50:00.000             43
83402  2021-06-12T23:50:00.000             60
83403  2021-06-12T23:51:00.000             69
83404  2021-06-12T23:55:00.000             30
83405  2021-06-12T23:55:00.000             70

[83406 rows x 2 columns]

In [23]:
# Trasforming data to the the total number of crimes occured each day

# Make a copy of the queried data
df_new = df
# The exact time of crime occured is not necessary, we only keep date data
df_new['date'] = df_new['date'].str[:10]
# count rows that have the same value, this will give us number of crimes for that community_area for a certain day
df_new = df_new.groupby(df.columns.tolist(), as_index=False).size()
# rename columns
df_new.rename({'size': 'num_crimes'}, axis=1, inplace=True)
df_new

             date community_area  num_crimes
0      2021-01-01              1          12
1      2021-01-01             10           3
2      2021-01-01             11           1
3      2021-01-01             13           4
4      2021-01-01             14           5
...           ...            ...         ...
11692  2021-06-12             75           4
11693  2021-06-12             76           3
11694  2021-06-12             77           6
11695  2021-06-12              8          29
11696  2021-06-12              9           1

[11697 rows x 3 columns]

## Model <a name="Model"></a>


## Results <a name="Results"></a>

## Conclusion <a name="Conclusion"></a>

In [5]:
print('test')

test