In [1]:
import requests
import json
import pandas as pd

# Load APP_TOKEN vairable from keys file
from secret import APP_TOKEN

# Table of contents
* [Overview](#Overview)
* [Data](#Data)
* [Model](#Model)
* [Results](#Results)
* [Conclusion](#Conclusion)

## Overview

The purpose of this project is to create a model to predict the number of crimes that might occur in some chicago neighborhood on any given day. We will be using the Chicago Crimes Dataset, limiting ourselves to the date and community area fields from this set of data. We'll also be using unemployment data from the Chicago land area to determine if the unemployment rate has any effect on the amount of crime in Chicago.

## Data <a name="Data"></a>

In [2]:
url = "https://data.cityofchicago.org/resource/ijzp-q8t2.json?$select=date,community_area&$where=year==2021&$order=date ASC&$limit=100000"
headers = {'Accept': 'application/json', 'X-App-Token': APP_TOKEN}
resp = requests.get(url,headers=headers)
df = json.loads(resp.text)
df = pd.DataFrame(df)
df

                          date community_area
0      2021-01-01T00:00:00.000              2
1      2021-01-01T00:00:00.000             49
2      2021-01-01T00:00:00.000             30
3      2021-01-01T00:00:00.000             27
4      2021-01-01T00:00:00.000             23
...                        ...            ...
82801  2021-06-11T23:50:00.000             73
82802  2021-06-11T23:50:00.000             73
82803  2021-06-11T23:50:00.000             25
82804  2021-06-11T23:55:00.000              2
82805  2021-06-11T23:56:00.000             42

[82806 rows x 2 columns]

## Model <a name="Model"></a>


## Results <a name="Results"></a>

## Conclusion <a name="Conclusion"></a>

In [2]:
print('test')

test